<p id="notice"><%= notice %></p>
<navbar-dark-color: rgba($blue, .5)>


<nav class="navbar navbar-expand-md navbar-dark-color fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="/">Home</a>
    </div>
      <% if user_signed_in? %>
          <a class="nav-link" href="users/sign_out" data-method="delete" rel="nofollow">Logout</a>
          <a class="nav-link" href="/projects/new">New Project</a>
      <% else %>
          <a class="nav-link" href="users/sign_in">Sign In/Sign Up</a>
      <% end %>
    
  </div>
</nav>

<div class="jumbotron" style="padding-bottom:0px">
  <div class="container">
    <h1 class="display-4">Anthony Mitchell Projects</h1>
    <p>My name is Anthony and I graduated December of 2021 with my Bachelor of Science in Electrical Engineering from UCCS. I am currently persuing my Master's of Science in Electrical Engineering at UCCS. I also graduated with minors in computer science, computer engineering, and technical writing. Below this text is a showcase of some of my projects.</p>
  </div>
</div>d

<div class="container">
    <div class="row mb-5">
      <% @projects.each do |project| %>
        <div class="col-md-4">
          <h2><%= project.title %></h2>
          <p><%= project.titledescription %></p>
          <td><%= button_to 'Show More »', project, method: :get, :class => "btn-primary btn-small" %></td>
          <% if user_signed_in? %>
            <td><%= button_to 'Delete »', project, method: :delete, :class => "btn-primary btn-small", data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <br>
          <br>
        </div>
      <% end %>
  </div>
</div>

<br>

<footer class="container text-center">
  <b>Contact Information</b><p>Anthony Mitchell<br>719-375-5871<br>amitche3@uccs.edu</p>
</footer>
 
